@import "../../../styles/globals.scss";
@import "../../../styles/pages/login.global.scss";

.container {
  @extend .container;
}

.veriffooter {
  width: 85%;
}

.subcontent {
  @extend .footer;
  p {
    font-size: 0.85rem ;
  }
}


.header {
  display: flex;
  justify-content: center;
}