@import "@/styles/fonts-sizes.scss";

/** Template Colors **/
$primary: #2a8bf2;
$secondary: #f22aae;
$green: #1dd01d;
$white: #ffffff;
$grey: #f3f3fb;
$grey-light: #e6ecfe;
$grey-dark: #7b7a7a;
$black: #1e1f26;

/** Template Spacing **/
$gutter-x: 1.5rem;
$gutter-y: 1.5rem;

/** Responsive BreakPoints **/
$XXL : 1919px;
$XL : 1440px;
$L : 1140px;
$M : 720px;
$S : 540; 

$base-font-size: 16px;
 
.body {
  width: 100%; 
  margin: 0 auto; 
}

 
.vCenter {
  display: flex;
  align-items: center;
}

/** old scss **/ 

.flexEnd {
  display: flex;
  justify-content: flex-end;
}

.vCenter {
  display: flex;
  align-items: center;
}

  
.textField , .baseField {
 
  color : $black; 
  font-size: $base-font-size;
  width: 100%;
  padding: 9px 30px;
  margin-bottom: 10px;
  border: 1.53407px solid rgba(0, 0, 0, 0.1);
  border-radius: 15.3407px;
  &::placeholder {
    color: rgba(0, 0, 0, 1);
    font-size: $base-font-size; 
  
  }
  border: 2px $grey solid;
  &:focus {
    outline: none !important;
    border: 2px solid $primary;
  }
}

.primaryButton {  
  background-color: $primary;
  color: $white;
  font-size: $base-font-size;
  border-radius: 23.011px;
  border: none;
}

