@import "@/styles/fonts-sizes.scss";

/** Template Colors **/
$primary: #2a8bf2;
$secondary: #f22aae;
$green: #1dd01d;
$white: #ffffff;
$grey: #f3f3fb;
$light-grey: #e6ecfe;
$black: #1e1f26;

/** Template Spacing **/
$gutter-x: 1.5rem;
$gutter-y: 1.5rem;

.body {
  width: 100%; 
  margin-right: auto;
  margin-left: auto;
}
