@import '@/styles/globals.scss';

.inputSection {
    padding: 15px 10px;
  
    label { 
      margin-bottom: 7px; 
      span {
        font-size: 15px;
        color: $secondary;
        margin-left : 2px;
      }
    }
  
    .textField {
        font-family:$base-font-size ;
        color : $black; 
        font-size: $base-font-size;
        width: 100%;
        padding: 9px 30px;
        margin-bottom: 10px;
        border: 1.53407px solid rgba(0, 0, 0, 0.1);
        border-radius: 15.3407px;

        &::placeholder {
          color: rgba(0, 0, 0, 1);
          font-size: $base-font-size;  
        }

        border: 2px $grey solid;
        &:focus {
          outline: none !important;
          border: 2px solid $primary;
        }
    }
  
   
  }